<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fruitarians"
        tools:targetApi="31">
        <activity
            android:name=".ui.membership.MembershipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myvendor.DetailMyVendorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myvendor.SubsAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myvendor.MyVendorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fruitvariant.FruitVariantActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detailfruitstore.DetailSpecificFruitActivity"
            android:exported="false" />
        <activity
            android:name=".ui.article.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fruitscan.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fruitscan.FruitScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.edit_profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mystore.MyStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detailfruitstore.DetailFruitStoreActivity"
            android:exported="false"
            android:theme="@style/Theme.StatusBarGreen" />
        <activity
            android:name=".ui.fruitstore.FruitStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.PasswordVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.register.RegisterContinueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>